*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #222;
   
}

.card{
    width: 90%;
    /* height: 90vh; */
    max-width: 470px;
    /* border: 2px solid red; */

    /* In this case, the gradient is angled 
    at 135 degrees, which means it will be tilted from the bottom-left corner to the top-right corner of the element. */
    background: linear-gradient(135deg,#00feba,#5b548a);
    color: #fff;

    margin: 100px auto 0;
    border-radius: 20px;
    text-align: center;
    padding: 40px 35px;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 0.6rem 1.6rem;
    height: 60px;
    border-radius: 2rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    flex: 1;
}

@media (max-width: 485px){
    *{
        font-size: 10px;
    }
}

.search button{
    border:0;
    outline : 0;
    background-color: #ebfffc;
    border-radius: 3rem;
    padding: 5px auto;
    
    width: 3rem;
    height: 3rem;
    /* height: auto; */
    /* border : 2px solid blue; */
}

.search button i{
    width: 25px;
    font-size: 1.5rem;
    display: inline-block;
    margin: 5px auto;
    /* border : 2px solid red; */
}

.weather img{
    width: 70%;
    height: 100%;
    margin-top: 2rem;
    /* margin-right: 2rem; */
    display: inline-block;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid blue; */

}

.col{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    /* font-size: 1.2rem; */
}

.temp{
    font-size: 3rem;
    /* margin-top: -2.5rem; */
    margin-bottom: -1.2rem;
    font-weight: 700;
}

.city {
    font-size: 3rem;
    font-weight: 700;
}

.col div p{
    font-weight: 500;
    /* opacity: 0.7; */
}


.col img{
    width: 30%;
    height: 8rem;
    /* font-size: 1rem;  */
    /* margin-bottom: 1.3rem; */
    margin-right: .5rem;
    /* margin-left: .5rem; */
}

.humidity-svg{
    margin-bottom: 0;
}

.humidity,.wind{
    font-size: 1.5rem;
    margin-top : -6px;
}

.col div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.humidity-svg, .wind-svg{
    margin-bottom: 1rem;
}


